.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .currentLyrics {
        height: 400px;
        display: flex;
        align-items: center;
        font-size: 60px;
    }

    .correctLyrics {
        color: green;
    }

    .incorrectLyrics {
        color: red;
    }

    @media (prefers-color-scheme: dark) {
        .neutralLyrics {
            color: white;
        }
    }

    .inputDiv {
        height: 400px;

        .confirmedLyrics {
            font-size: 40px;
            text-align: center;
        }
    
        .missingLyrics {
            font-size: 60px;
        }
    } 

    .gameButtonsDiv {
        display: flex;
        flex-direction: column;

        .gameButtons {
            padding: 20px;
        }
    }
}