/* VARIABLES */
// $accent-color-1: #6F2DBD;
// $accent-color-2: #F6F740;
$base-color: #A663CC;
// $background-color: #C1BFC0;
// $text-color-1: #191102;

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $base-color;

    .currentLyrics {
        height: 400px;
        display: flex;
        align-items: center;
        font-size: 60px;

        span {
            white-space: pre-wrap;
        }
    }

    .inputDiv {
        height: 400px;

        .confirmedLyrics {
            font-size: 40px;
            text-align: center;
        }
    
        .missingLyrics {
            font-size: 60px;
        }
    } 

    .gameButtonsDiv {
        display: flex;
        flex-direction: column;

        .gameButtons {
            padding: 20px;
        }
    }
}