/* VARIABLES */
$accent-color-1: #6F2DBD;
// $accent-color-2: #F6F740;
// $accent-color-3: #A663CC;
$base-color: #5d5660;
$background-color: #C1BFC0;
$text-color-1: #191102;

.mainContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $base-color;
    height: 100vh;
    width: 100vw;

    .subtitle {
        margin-top: 4em;
        text-align: center;
    }

    .currentLyrics {
        font-size: 60px;

        span {
            white-space: pre-wrap;
        }
    }

    .gameContainer {
        background-color: $background-color;
        color: $text-color-1;
        aspect-ratio: 16/9;
        width: 70vw;
        margin: 0 auto;
        padding: 5px;
        border: 1px solid $text-color-1;
        border-radius: 5px;
        box-shadow: 0px 0px 200px 5px $text-color-1 inset;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .inputDiv {
        transform: translateY(-1em);
        .confirmedLyrics {
            font-size: 40px;
            text-align: center;
            opacity: 0.9;
        }
    
        .missingLyrics {
            width: 60vw;
            font-size: 60px;
            text-align: center;
            border: none;
            background-color: transparent;
            cursor: pointer;

            &:focus {
                outline: none;
                border-radius: 5px;
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    } 

    .gameButtonsDiv {
        position: absolute;
        display: flex;
        justify-content: space-around;
        bottom: 2em;
        width: 100vw;

        a {
            background-color: $accent-color-1;
            padding: 10px;
            border: 1px solid black;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
        }
    }

    .restartButton {
        position: absolute;
        left: 0;
        top: 25vh;
        width: 15vw;
        display: flex;
        justify-content: center;
        cursor: pointer;

        a {
            background-color: $accent-color-1;
            padding: 10px;
            border-radius: 50%;
            border: 1px solid black;
        }
    }

    .svgImage {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }

    .gameScore {
        position: absolute;
        right: 0;
        top: 25vh;
        width: 15vw;
        transform: translateY(-3em);
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.3em;
        padding: 0;

        .scoreNumber {
            font-size: 3em;
            transform: translateY(-1.3em);
        }

        .adjustedScoreNumber {
            font-size: 3em;
            transform: translateY(-1.3em);
            animation: flashScore 1s;
            animation-fill-mode: forwards;
        }

        @keyframes flashScore {
            0% {
                color: #fff;
                font-size: 3em;
            }
            50% {
                color: rgb(17, 231, 17);
                font-size: 4em;
            }
            100% {
                color: #fff;
                font-size: 3em;
            }
        }
    }
}