/* VARIABLES */
// $accent-color-1: #6F2DBD;
// $accent-color-2: #F6F740;
// $accent-color-3: #A663CC;
$base-color: #5d5660;
// $background-color: #C1BFC0;
// $text-color-1: #191102;

@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $base-color;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}