/* VARIABLES */
// $accent-color-1: #6F2DBD;
// $accent-color-2: #F6F740;
$base-color: #A663CC;
// $background-color: #C1BFC0;
// $text-color-1: #191102;

.title {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 4em;
  text-align: center;
}

.scoreLabel {
  margin-top: 3em;
  font-size: 4em;
  text-align: center;
}

.score {
  font-size: 5em;
  transform: translateY(-1em);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $base-color;
  
  .mainButton {
    font-size: 2.5em;
    padding: 0.5em 1em;
    border-radius: 10px;
    color: white;
    background-color: grey;
  }
}