/* VARIABLES */
$accent-color-1: #6F2DBD;
$accent-color-2: #F6F740;
$accent-color-3: #A663CC;
$base-color: #5d5660;
$background-color: #C1BFC0;
$text-color-1: #191102;

.title {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 4em;
  text-align: center;
}

.scoreLabel {
  margin-top: 3em;
  font-size: 4em;
  text-align: center;
}

.score {
  font-size: 5em;
  transform: translateY(-1em);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $base-color;
  
  .mainButton {
    font-size: 2.5em;
    padding: 0.5em 1em;
    border-radius: 10px;
    color: #fff;
    background-color: $accent-color-1;
    border: 3px solid $text-color-1;
    box-shadow: 0px 0px 10px 1px $text-color-1 inset;
    transition: 300ms;

    &:hover,
    &:focus {
      animation: buttonGlow 800ms;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes buttonGlow {
  0% {box-shadow: 0px 0px 15px 2px $text-color-1 inset;}
  20% {
    background-color: $accent-color-2;
    box-shadow: 0px 0px 35px 6px $accent-color-1 inset;
    color: $text-color-1}
  100% {
    background-color: $accent-color-2;
    box-shadow: 0px 0px 5px 0px $text-color-1 inset, 0px 0px 35px 5px $accent-color-2;
    border-width: 1px;
    color: $text-color-1
  } 
}

.difficultyButtonsDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 80vh;
}